@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
 font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: blue;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

}
.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .logo span {
  color:blue;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background:blue;
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.icon img{
	width: 100px;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
	max-width: 400px;
}
.right h1{
	color: blue;
	font-size: 50px;
}
.right p{
	font-size: 25px;
	margin:10px 0px;
}
.btn{
	background: transparent;
	padding: 10px 20px;
	color: #74b9ff;
	border: 1px solid #74b9ff;
	border-radius: 8px;
}
#about{
	padding: 100px 0px;
}
.about-row{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.about-left-col{
	flex-basis: 50%;

}
.about-right-col{
	flex-basis: 50%;	
	text-align: center;
}
.about-right-col img{
	width: 80%;
}
.about-left-col{
	max-width: 400px;
	margin:auto;
}


.about-left-col h1{
	font-size: 50px;
	color: blue;
}
.about-left-col p{
	font-size: 20px;
	text-align: justify;
	margin:15px 0px;
	color: white;
}


.c-btn{
	padding: 10px;
	margin:10px 0px;
	color: white;
	border: none;
	background: #74b9ff;
}

#signup{
	padding-top: 50px;
	padding-bottom: 20px;
	background: rgba(0,0,0,0.03);
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}

.signup-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.signup-left-col{
	flex-basis: 50%;
	text-align:center;
}
.signup-left-col img{
	width: 60%;
}
.signup-right-col{
	flex-basis: 50%;
}

.signup-right-col h1{
	font-size: 90px;
	color: blue;
}
.signup-right-col h2{
	font-size: 45px;
	letter-spacing: 60px;
	color: white;
	margin:10px 0px;
}


#services{
	padding: 50px 0px;
}
.services-info{
	text-align: center;
}
.services-info h1{
	font-size: 50px;
	color: blue;
}
.services-info p{
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.services-row{
	display: grid;
	grid-template-columns: repeat(3,200px);
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 3em;
	justify-content: center;
	padding-top: 20px;
}
.services-box{
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;

}
.services-box i{
	background: #0984e3;
	color: white;
	font-size: 30px;
	padding: 10px;
	margin-top: -20px;
}

#members{
	padding: 100px;
	background: url(images/dumble.png);
	background-size: 35% 35%;
	background-repeat: no-repeat;
	background-position: top right;
}
.member-card{
	text-align: center;
	padding-top: 50px;
	width: 50%;
	margin:auto;
	}

.member-card p{
	margin:20px 0px;
}
.member-card h2{
	margin:20px 0px;
}

#work{
	padding-top: 50px;
	padding-bottom: 200px;
	background: rgba(0,0,0,0.03);
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}
.work-box{
	box-shadow: 2px 3px 5px grey;
}

.work-box img{
	width: 100%;
	height: 100%;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box .links:hover {
  color: blue;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: blue;
}

.footer .box-container .box .share {
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: blue;
}

.footer .box-container .box form .email {
  margin-bottom: 1rem;
  width: 100%;
  background: #111;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.credit {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #111;
  line-height: 1.5;
}

.credit span {
  color: blue;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide {
    padding: 2rem 5%;
  }
  .home .slide .content {
    width: 50rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }
  .about {
    gap: 3rem;
  }
  .about .image {
    margin-top: 5rem;
  }
  .about .content .title {
    font-size: 3rem;
  }
  .features .box-container .box.second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */



